@import '~font-awesome/css/font-awesome.min.css';
@import '~pure-css-loader/dist/loader-default.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body,
#root {
    cursor: default;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: coral;
    text-align: center;
}

#root > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
